body {
    font-family: 'helvetica';
}

.wrapper {
    width: 562px;
    height:562px;
    font-size: 82px;
    overflow: hidden;
    background-image: url("../img/board.png");
    background-size: 100%;
}

#button_wrapper{
    margin-bottom: 10px;
}

/* flipping */
.flip-container {
    perspective: 1000;
    transform-style: preserve-3d;
    height: 140px;
    display: table;
    -webkit-transform-style: preserve-3d;
    -webkit-perspective: 1000px;

    .flip{
        transform: rotateY(180deg);
        -webkit-transform: rotateY(180deg);
    }

    .flipper {
        transition: 0.6s;
        -webkit-transition: -webkit-transform 0.6s;
        transform-style: preserve-3d;
        -webkit-transform-style: preserve-3d;
        position: relative;
    }

    .box{
        height: 100%;
        width: 185px;
        border: 1px dashed rgba(0, 0, 0, .2);
        display: table-cell;
    }

    .box > div{
        position: absolute;
        top: 50%;
        left: 35%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
    }

    .box:hover{
        background-color: rgba(0, 0, 0, .2);
        background-size: 100%;
        cursor: pointer;
    }

    .opened > div{
        font-weight: bold;
        color: red;
    }

    .opened-p1.flip {
        background-image: url("../img/piece_p1.png");
        background-size: 100%;
    }

    .opened-p2.flip {
        background-image: url("../img/piece_p2.png");
        background-size: 100%;
    }
}

.wrapper.p1-turn {
    .box:not(.opened):hover{
        background-image: url("../img/piece_p1.png");
        background-size: 100%;
        opacity: 0.5;
        cursor: pointer;
    }
}

.wrapper.p2-turn {
    .box:not(.opened):hover{
        background-image: url("../img/piece_p2.png");
        background-size: 100%;
        opacity: 0.5;
        cursor: pointer;
    }
}

.hand.p1-hand {
    position: absolute;
    bottom: 0;
    left: 0;
}

.hand.p2-hand {
    position: absolute;
    top: 0;
    right: 0;
}

.card {
    position: relative;
    width: 150px;
    height: 223px;
    text-align: center;
    float: left;
    background-color: grey;
    background-size: 100%;
    border-radius: 9px;
    margin: 5px;
    margin-right: -50px;
    box-shadow: 10px 10px 5px rgba(0, 0, 0, .2);
    transition: 0.1s;//remove for smooth sorting()

    .cardName,
    .cardEffects {
        color: #545252;
        background-image: url("../img/textBG.png");
        background-repeat: no-repeat;
        background-size: 100%;
        background-size: 100% 100%;
        width: 80%;
        margin: auto;
        padding: 3px;
    }

    .cardName {
        margin-top: 5px;
    }

    .cardEffects {
        margin-top: 115px;
        min-height: 60px;
    }
}

.card.drawn:hover{
    z-index: 100;
    transform: scale(1.1, 1.1);
}

.card.fireball {
    background-image: url("../img/card_fireball.png");
}

.card.floods {
    background-image: url("../img/card_floods.png");
}

.card.taxes {
    background-image: url("../img/card_taxes.png");
}

.card.hidden {
    background-image: url("../img/card_back.png");

    div {
        visibility: hidden;
    }
}
