body {
  font-family: 'helvetica';
}
.wrapper {
  width: 562px;
  height: 562px;
  font-size: 82px;
  overflow: hidden;
  background-image: url("../img/board.png");
  background-size: 100%;
}
#button_wrapper {
  margin-bottom: 10px;
}
/* flipping */
.flip-container {
  perspective: 1000;
  transform-style: preserve-3d;
  height: 140px;
  display: table;
  -webkit-transform-style: preserve-3d;
  -webkit-perspective: 1000px;
}
.flip-container .flip {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}
.flip-container .flipper {
  transition: 0.6s;
  -webkit-transition: -webkit-transform 0.6s;
  transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  position: relative;
}
.flip-container .box {
  height: 100%;
  width: 185px;
  border: 1px dashed rgba(0, 0, 0, 0.2);
  display: table-cell;
}
.flip-container .box > div {
  position: absolute;
  top: 50%;
  left: 35%;
  transform: translateY(-50%);
  -webkit-transform: translateY(-50%);
}
.flip-container .box:hover {
  background-color: #6699FF;
  background-size: 100%;
  cursor: pointer;
}
.flip-container .opened > div {
  font-weight: bold;
  color: red;
}
.flip-container .opened-p1.flip {
  background-image: url("../img/piece_p1.png");
  background-size: 100%;
}
.flip-container .opened-p2.flip {
  background-image: url("../img/piece_p2.png");
  background-size: 100%;
}
.wrapper.p1-turn .box:not(.opened):hover {
  background-image: url("../img/piece_p1.png");
  background-size: 100%;
  opacity: 0.5;
  cursor: pointer;
}
.wrapper.p2-turn .box:not(.opened):hover {
  background-image: url("../img/piece_p2.png");
  background-size: 100%;
  opacity: 0.5;
  cursor: pointer;
}
.hand.p1-hand {
  position: absolute;
  bottom: 0;
  left: 0;
}
.hand.p2-hand {
  position: absolute;
  top: 0;
  right: 0;
}
.card {
  width: 150px;
  height: 223px;
  text-align: center;
  float: left;
  background-color: grey;
  background-size: 100%;
  border-radius: 9px;
  margin: 5px;
}
.card .cardName,
.card .cardEffects {
  color: #545252;
  background-image: url("../img/textBG.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-size: 100% 100%;
  width: 80%;
  margin: auto;
  padding: 3px;
}
.card .cardName {
  margin-top: 5px;
}
.card .cardEffects {
  margin-top: 115px;
  min-height: 60px;
}
.card.fireball {
  background-image: url("../img/card_fireball.png");
}
.card.floods {
  background-image: url("../img/card_floods.png");
}
.card.taxes {
  background-image: url("../img/card_taxes.png");
}
.card.hidden {
  background-image: url("../img/card_back.png");
}
.card.hidden div {
  visibility: hidden;
}
